.sale {
  .sale-header {
    position: relative;

    img {
      width: 100%;
      height: 700px;
      object-fit: cover;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      animation: img 3s alternate ease;
    }

    @keyframes img {
      from {
        opacity: 0;
        transform: scale(1.1);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    .sale-text {
      position: absolute;
      top: 30%;
      margin-left: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;

      h1,
      h2 {
        color: white;
      }

      h1 {
        font-size: 40px;
      }
      h2 {
        text-decoration: underline;
      }

      .character {
        display: flex;
        gap: 4rem;

        .character-item {
          p {
            font-size: 18px;
          }
          .rating {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .images {
    display: flex;
    gap: 2rem;
    padding: 2rem;

    .images-card {
      background-color: lightgray;
      border-radius: 30px;
      position: relative;
      margin: 0 auto;

      img {
        width: 600px;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }
    }
  }
  .puppies-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
    }
    .link {
      display: flex;
      gap: 4rem;
      margin: 2rem;
      color: white;

      .icon {
        margin-left: 1rem;
        font-size: 20px;
      }

      .same {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }

      .whatsApp {
        background-color: green;
        padding: 10px;
      }

      .facebook {
        background-color: #1789ff;
        padding: 10px;
      }

      .like {
        background-color: #1789ff;
        padding: 10px;
      }

      .instagram {
        background-color: crimson;
        padding: 10px;
      }
    }
  }

  .highlight {
    margin: 2rem;
    display: flex;
    gap: 6rem;
    background-color: lightgray;

    img {
      width: 50%;
    }

    .text {
      max-width: 800px;
      display: flex;
      flex-direction: column;

      p {
        line-height: 3;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .sale {
    .highlight {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 414px) {
  .sale {
    .sale-header {
      img {
        height: 500px;
      }
      .sale-text {
        h1 {
          font-size: 30px;
        }

        h2 {
          font-size: 20px;
        }
      }
    }

    .puppies-link {
      h2 {
        font-size: 20px;
      }
      .link {
        flex-direction: column;
        width: 300px;

        .same {
          justify-content: space-between;
        }
      }
    }
  }
}
