.dropdown {
  display: none;
  .wrapper {
    background-color: white;
    position: absolute;
    top: 30px;
    left: 30%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;

    .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;

        span {
          padding: 10px;
          // width: 300px;
          text-align: center;
          &:hover {
            background-color: #1789ff;
            color: white;
          }
        }
      }
    }
  }
}
